{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <br>
        <div>
            <div>
                <form method=POST action="{{ url_for('create_collection') }}">
                    <input type="text" name="collectionName">
                    <button type="submit" class="btn btn-primary btn-block">Create new collection</button>
                </form>
            </div>
            <div>
                <form method=POST action="{{ url_for('delete_collection') }}">
                    <select name="collectionName">
                        {% for name in collection_list %}
                            <option value="{{name}}" >{{name}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-block">Delete collection</button>
                </form>
            </div>
        </div>
        <br>
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('add_users') }}">
                {% for i in range(10) %}
                <div class="form-group">
                    <input type="text" class="form-control" name="firstName{{ i }}" placeholder=" First Name">
                    <input type="text" class="form-control" name="lastName{{ i }}" placeholder="Last Name">
                    <input type="text" class="form-control" name="number{{ i }}" placeholder="Phone Number">
                </div>
                {% endfor %}

                <select name="collectionName">
                    {% for name in collection_list %}
                        <option value="{{name}}" >{{name}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary btn-block">Submit to database</button>
            </form>
            <br>
            <div>
                See current users <a href="{{ url_for('see_users') }}">here</a>.
            </div>
            <div>
                Send a text <a href="{{ url_for('send_text_form') }}">here</a>.
            </div>
            <div>
                Bulk upload from CSV <a href="{{ url_for('upload_file') }}">here</a>.
            </div>
             <div>
                Schedule a job for the future <a href="{{ url_for('schedule_message') }}">here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}

