{% extends "layout.html" %}
{% block body %}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('schedule_message') }}", id="userform">
                <button type="submit" class="btn btn-primary btn-block">Que Job to execute!</button>
                <br>
                <textarea name="userinput" form="userform", cols="40" rows="5", placeholder="Enter text here..."></textarea>
                <br>
                Select a date: <input type="date" form="userform" name="userdate"> <br>
                Select a time: <input type="time" form="userform" name="usertime"> <br>
                Select a collection:
                <select name="collectionName">
                    <option disabled selected value> -- select a collection -- </option>
                    {% for name in collection_list %}
                        <option value="{{name}}" >{{name}}</option>
                    {% endfor %}
                </select>

            </form>

            <p>
                <strong>Note:</strong>Use the keyword $$FIRSTNAME$$ to have program insert user first name in that spot <br>
                <strong>Note:</strong> type="date" is not supported in Safari or Internet Explorer 11 (or earlier). <br>
                <strong>Note:</strong> type="time" is not supported in Safari or Internet Explorer 12 and earlier versions.
            </p>
            <br>

        </div>
        <br>
        <div>
            <form action= "{{ url_for('alter_jobs') }}" method=POST>
            <input type="submit" name="delete_jobs" value="DELETE Selected Jobs">
                <table style="width:100%">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Collection</th>
                        <th>Message</th>
                        <th>Select Job</th>
                    </tr>
                    {% for job in job_data %}
                    <tr>
                        <td>{{job.get("date")}}</td>
                        <td>{{job.get("time")}}</td>
                        <td>{{job.get("collection")}}</td>
                        <td>{{job.get("message")}}</td>
                        <td><input type="checkbox" name="{{job.get('_id')}}" ></td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
        <div>
                <br>
                Back to adding users <a href="{{ url_for('index') }}">here</a>.
        </div>


    </div>
</div>
{% endblock %}

